body, html {
	background-color: #f6f6f6;
	margin: 0;
	padding: 0;
}

div#breadcrumbs {
	border-bottom: 4px dashed #f6f6f6;
	margin: 0 -1.2em;
	padding: 0.3em 1.4em 0.3em 1.4em;
}

div#breadcrumbs p {
	margin-bottom: 0.2em;
}

div#content {
	background-color: #fff;
	height: 100%;
	margin: 0 auto;
	overflow: hidden;
	padding: 0 1.2em 1.2em 1.2em;
	width: 700px;
}

h1 {
	margin: 0.3em 0;
	padding: 0.1em 0;
}

h2, h3, h4, h5, h6 {
	margin-top: 1em;
	margin-bottom: 0.4em;
}

p, ul, blockquote {
	line-height: 1.8em;
	margin-top: 0;
	margin-bottom: 1em;
}

p#footer {
	border-top: 1px solid #999;
	font-size: 0.7em;
	margin-bottom: 0;
	padding: 0.7em 0;
	text-align: center;
}

ul {
	padding-left: 1.5em;
}

ul li {
	list-style-type: disc;
	margin-left: 1.5em;
	margin-top: 0.4em;
}

code {
	background-color: #f6f6f6;
	border: 1px solid #999;
	border-left: none;
	border-right: none;
	padding-left: 2px;
	padding-right: 2px;
	white-space: nowrap;
}

pre code {
	border: none;
	padding: 0;
	background: none;
	white-space: pre-wrap;
}

a code {
	background: none;
	border: none;
	margin: 0;
	padding: 0;
	text-decoration: inherit;
}

a.code {
	background-color: #3f3f3f;
}

dt {
	font-weight: bold;
	margin-top: 1em;
}

dd {
	line-height: 1.8em;
	margin-left: 1.5em;
}

blockquote p {
	margin: 0;
}

table {
	margin: 1em;
}

table thead {
	background-color: #f6f6f6;
}

table thead th {
	border: 1px solid #999;
	padding: 0.5em 1em;
}

table tbody tr td {
	border: 1px solid #999;
	padding: 0.5em 1em;
}

pre, blockquote, table.codehilitetable {
	background-color: #f6f6f6;
	border: 1px solid #999;
	border-left: none;
	border-right: none;
	display: block;
	line-height: 1.5em;
	margin-left: 1.2em;
	margin-right: 1em;
	padding: 0.5em;
	padding-left: 1em;
}

pre, table.codehilitetable {
	margin-bottom: 1em;
}

table.codehilitetable div.linenodiv {
	border-right: 1px solid #ccc;
	margin-right: 1em;
	padding-right: 1em;
}

table.codehilitetable pre {
	background: none;
	border: none;
	margin: 0;
	padding: 0;
}

table#pages tr, table#subdirs tr, table#files tr {
	border-top: 1px solid #999;
	border-bottom: 1px solid #999;
}

table tr td.name a {
	display: block;
	padding: 0.5em 1em;
}

table tr td.name a:hover {
	background-color: #f6f6f6;
}

table tr td.size {
	padding: 0.5em 1em;
	width:  40px;
}
