html {
  background-color: #f6f6f6; }

body {
  background-color: white;
  margin: 0 auto;
  width: 960px; }
  body #breadcrumbs, body #content, body #footer {
    background-color: white;
    clear: both;
    float: left;
    overflow: hidden;
    padding: 0 20px;
    width: 920px; }
  body #breadcrumbs li {
    list-style: none;
    padding: 0;
    margin: 0; }
  body .clear {
    clear: both;
    border-width: 0;
    margin: 0;
    visibility: hidden; }

blockquote {
  background-color: #f6f6f6;
  padding: 13px;
  padding-bottom: 1px; }

dl {
  margin-left: 0; }
  dl dd {
    margin-bottom: 13px;
    margin-left: 13px; }

ul {
  margin-left: 18px;
  margin-top: 0; }
  ul li {
    list-style: square outside; }

pre {
  border-left: 1px solid gray;
  margin-bottom: 13px;
  margin-left: 30px;
  padding-left: 12px; }

.codehilite {
  border-left: 1px solid gray;
  margin-bottom: 13px;
  margin-left: 30px;
  padding-left: 12px; }
  .codehilite pre {
    border: none;
    margin: 0;
    padding: 0; }

.codehilitetable {
  margin-left: 0;
  padding-left: 0; }
  .codehilitetable tr td {
    border: none; }
    .codehilitetable tr td.linenos {
      border-right: 1px solid gray;
      margin: 0;
      padding: 0 4px;
      width: 22px; }
      .codehilitetable tr td.linenos .linenodiv pre {
        border: none;
        margin: 0;
        padding: 0; }
    .codehilitetable tr td.code {
      margin: 0;
      padding: 0;
      padding-left: 12px; }
      .codehilitetable tr td.code .codehilite {
        border: none;
        margin: 0;
        padding: 0; }

body {
  font-family: Helvetica Neue, Helvetica, Arial, Geneva, sans-serif;
  line-height: 21px; }

h1, h2, h3, h4, h5, h6 {
  font-size: 1.2em; }

dl dt {
  font-weight: bold; }

code, pre {
  font-family: Courier, Courier New, monospace;
  font-weight: normal !important;
  line-height: 21px; }
